@using WebUI.Models
@using WebUI.HtmlHelpers;
@model SweetsListViewModel

@{
    ViewBag.Title = "Родина - рідніше не буває!";
}

@Html.Hidden("type", Model.CurrentType, new { id = "type" })
@Html.Hidden("orderBy", Model.CurrentOrderBy, new { id = "orderBy" })
@Html.Hidden("byAsc", Model.CurrentByAsc, new { id = "byAsc" })

<!-- Кнопки для сортировок -->
<div class="row">
    <div class="form-group form-group-sm col-md-9 col-sm-9 col-xs-8">
        <select class="form-control"
                title="Сортувати за.."
                autocomplete="off"
                id="orderBySelect"
                onchange="getList($('#type').val(), $('#orderBySelect').val(), $('#byAsc').val())">
            <option value="">---</option>
            <option value="name">За назвою</option>
            <option value="price">За ціною</option>
        </select>
    </div>
    <div class="btn-group col-md-3 col-sm-3 col-xs-4" data-toggle="buttons">
        <label class="btn btn-default btn-sm" title="по возрастанию" onclick="getList($('#type').val(), $('#orderBySelect').val(), true)">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <i class="glyphicon glyphicon-sort-by-attributes"></i>
        </label>
        <label class="btn btn-default btn-sm" title="по убыванию" onclick="getList($('#type').val(), $('#orderBySelect').val(), false)">
            <input type="radio" name="options" id="option1" autocomplete="off">
            <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
        </label>
    </div>
</div>

<div>
    @foreach (var sweet in Model.Sweets)
    {
        @Html.Partial("_SweetSummary", sweet)
    }
</div>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {
    page = x,
    orderBy = Model.CurrentOrderBy,
    type = Model.CurrentType,
    byAsc = Model.CurrentByAsc
}))
</div>

<script>
    window.onload = function () {
        $('#orderBySelect').val($('#orderBy').val())
    }

    function getList(type, orderBy, byAsc) {
        window.location.href = '/Sweets/List?type=' + type + '&orderBy=' + orderBy + '&byAsc=' + byAsc; 
    }
</script>
